# virtual environment
/persistence

# my crumpled useless thoughts jotted down
idea.txt

# adding my affirmations and non-affirmations dictionary

# stupid ass python cache
/__pycache__

# removing demo files for now, will add it once I chain with other components
/demo